.pokeCard {
    display: inline-flex;
    border: 1px solid green;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
}

.pokeCard .pokeMon {

}

.pokeCard .pokeMon .pokeSprite {
    height: 26vh;
    width: 15vw;
}

.pokeCard .pokeMon .pokeName {
    text-transform: capitalize;
}